html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

:root {
	--default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--default-font-size: 14px;
	--pad: 20px;
	--subsection-margin: 30px;
	--left-pane: 350px;
	--title-height: 85px;
	--footer-height: 40px;
	--control-foot-height: var(--footer-height);
	--top-height: calc(var(--title-height) + var(--pad) + var(--pad));

	/* shared style elements */
	--ui-pad: calc(var(--pad) / 2);
	--ui-radius: 5px;
	--default-button-text-color: white;
	--default-button-bg-color: rgb(146, 146, 212);

	/* menu / tooltip features */
	--tooltip-trigger-width: 20px;
	--left-pane-grid-pad: var(--pad);
	--menu-width: calc(var(--left-pane) - var(--pad) - var(--pad) - var(--left-pane-grid-pad) - var(--tooltip-trigger-width));
	--tooltip-background: rgb(235, 235, 235);
	--modal-fill: var(--tooltip-background);
	--modal-tt-pad: 15px;
	
	/* date-picker */
	--dp-default-color: #888;
	--dp-active-color: #444;

	/* multiselector	 */
	--multiselector-horiz-pad: 8px;
	--multiselector-list-item-pad: calc(var(--pad) / 2);
    --multiselector-list-item-size: 25px;
	--multiselector-border-color: transparent;
	--multiselector-bg: var(--default-button-bg-color);
	/* --multiselector-bg: #00b3f4; */
    --multiselector-button-text-color: white;
	--multiselector-selected-bg: tomato;


	/* modal features */
	--modal-border-radius: 5px;
	--modal-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	--modal-body-font-size: 14px;

	/* graph settings */
	--small-graph-width: 350px;
	--large-graph-width: 900px;

	--moderate-transition: 200ms;

	--secondary-color: #0097B2;
	--faint-text: lightgray;


}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--default-font-family);
	min-height: 100vh;
	line-height: 1.4;
}

main {
	display: grid;
	grid-template-columns: [controls] var(--left-pane) [content] auto;
	min-height:100vh;
}

.tooltip-inner {
	max-width: 400px;
	background-color: white;
	transform: translateX(-10px);
	transition: 100ms;
	padding: var(--pad);
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.3);
	font-size: 14px;
	z-index:3;
}

.controls {
	grid-column: controls;
	display: grid;
	grid-template-rows: 
		[control-mode] var(--title-height) 
		[control-reset] var(--title-height)
		[control-selectors] auto 
		[control-foot] var(--control-foot-height);
	background: rgb(243, 243, 243) none repeat scroll 0% 0%;
}

.mode-container {
	margin-bottom: var(--pad);
}

.app-button {
	padding: var(--pad);
}

.app-button button {
	background: none;
	padding: calc(var(--pad) / 3);
	/* background-color: var(--secondary-color); */
	/* color: white; */
	border: none;
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	/* border-top:    1px solid var(--secondary-color); */
	border-radius: 3px;
	cursor: pointer;
	transition: var(--moderate-transition);
	text-transform: uppercase;
	opacity: .6;
}

.app-button button span {
	padding-left: calc(var(--pad) / 3);
	font-weight:900;
}

.app-button button:hover {
	background-color: rgb(240,240,240);
	opacity: 1;
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

.control-selectors {
	grid-row: control-selectors;
	padding: var(--pad);
	/* padding-top: var(--top-height); */
}

.control-foot {
	grid-row: control-foot;
	font-size:11px;
	display: grid;
	margin: auto;
	text-align:center;
	background: linear-gradient(to left, #dfdfdf, #ebebeb);
	width: 100%;
	height: 100%;
	font-weight: 900;
}

.content {
	grid-column: content;
	display: grid;
	grid-template-rows: [header] var(--top-height) [graphic-body] auto [footer] var(--control-foot-height);
}

.header {
	grid-row: header;
	display: grid;
	grid-template-columns: [header-title] auto [header-buttons] max-content;
	padding-left: var(--pad);
	padding-right: var(--pad);
	padding-bottom: var(--pad);
}

h1 {
	/* grid-row: header; */
	grid-column: header-title;
	margin:0;
	/* padding-left: var(--pad);
	padding-right: var(--pad);
	padding-bottom: var(--pad); */
	display: flex;
	align-items: center;
	height: var(--title-height);
}

h1 span {
	padding-left: 5px;
	color: gray;
	font-weight: 300;
}

.ff-logo {
	height: calc(var(--title-height) - var(--pad) - var(--pad));
	padding-right: calc(var(--pad) / 2);
}

.fulfillment-buttons {
	/* this should be filled with buttons like "get query"  etc */
	grid-column: header-buttons;
	height: var(--title-height);
	display: grid;
	align-items: center;
	grid-template-columns: max-content max-content;
	margin-top: auto;
	margin-bottom: auto;
	/* padding-bottom: var(--pad); */
}

/* Loading Data */

.loading-data {
	width: auto;
	height:auto;
	text-align:center;
	font-weight: bold;
	padding: var(--pad);
	/* background-color: #eee; */
	border-radius: 5px;
	position: absolute;
	right: calc((100vw - var(--left-pane)) / 2 - var(--pad) * 2);
	top: calc(var(--title-height) * 2 + var(--pad) * 2);
}

.loading-message {
	opacity:.8;
	margin-bottom:var(--pad);
}

.loading-data svg {
  width: 3.75em;
  transform-origin: center;
  animation: rotate-loader 2s linear infinite;
}

.loading-data circle {
  fill: none;
  stroke: #fc2f70;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash-loader 1.5s ease-in-out infinite;
}

/* DataGraphic */

svg text {
    -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

svg text::selection {
    background: none;
}

@keyframes rotate-loader {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash-loader {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

/* Graphic Body */

.graphic-body {
	max-width: 1100px;
	padding: var(--pad);
}

.graphic-body-header {
	font-style: italic;
	font-weight:normal;
	color: #555;
	margin:0;
	padding:0;
	padding-left:50px;
	padding-bottom:25px;
}


.all-graphics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: var(--subsection-margin);
}

.one-graphic {
    display: block;
}

.coming-soon {
    display: grid;
    margin: auto;
    height: 100%;
    text-align: center;
    font-size:25px;
    font-weight: 900;
    color: var(--faint-text);
}

footer {
	grid-row: footer;
	background-color: #eee;
	color: rgb(90,90,90);
	font-size: 11px;
	margin:auto;
	width:100%;
	height: 100%;
	text-align:center;
	display: grid;
	grid-template-columns: max-content max-content auto;
	grid-column-gap: var(--pad);
	align-items: center;
	justify-content: center;
}

footer h3 {
	font-size: 1em;
	width: max-content;
	padding:0;
	margin:0;
	font-weight: normal;
}

footer ul {
	margin: 0;
	display: flex;
	width: 100%;
	padding-right: var(--subsection-margin);
}

footer ul li {
	list-style-type: none;
}

footer ul * + * {
	padding-left: var(--subsection-margin);
}

footer.control-foot {
	display: grid;
	grid-template-columns: max-content;
	justify-items: center;
	justify-content: center;
	width: 100%;
}

footer.control-foot div {
	text-align: center;
	font-weight: 300;
	margin: auto;
}
/* button styles */

.bt {
	--bt-outline-border: #aaa;
	--bt-text-color: blue;
	text-decoration: none;
	background-color: white;
	border: 1px solid transparent;
	padding: var(--ui-pad);
	padding-top: calc(var(--ui-pad) / 2);
	padding-bottom: calc(var(--ui-pad) / 2);
	text-transform: uppercase;
	border-radius: var(--ui-radius);
	cursor: pointer;
	color: var(--default-button-text-color);
	background-color: var(--default-button-bg-color);
	/* box-shadow: 0px 0px 10px rgba(0,0,0,.2); */
}

.bt:hover {
	background-color: blue;
}

.bt.bt-outline {
	background-color: transparent;
	color: var(--bt-text-color);
	font-weight: bold;
	border-color: var(--bt-outline-border);
	box-shadow: none;
	transition: 200ms;
}

.bt.bt-outline:hover {
	background-color: rgba(0,0,0,.07);
}

.bt.bt-text {
	background-color: transparent;
	color: black;
	box-shadow: none;
	border-radius: 10px;
	transition: 200ms;
}

.bt.bt-text:hover {
	background-color: rgba(0,0,0,.2);
	border-radius: var(--ui-radius);
}

.bt.bt-text-with-icon {
	display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: calc(var(--ui-pad) / 2);
    align-items: center;
}

/* ANNOTATIONS AND REMARKS */

.annotations-and-remarks {
	padding: var(--pad);
}

.annotations-and-remarks h2 {
	margin:0;
	padding:0;
	font-size: 20px;
	color: #999;
	margin-top: var(--pad);
	margin-bottom: calc(var(--pad) / 2);
}

.annotations-and-remarks ol {
	margin:0;
	padding:0;
	font-size: 14px;
}

/* media queries */

@media (max-width: 1450px) {
	:root {
		--graph-width: 300px;
	}
}

@media (max-width: 1301px) {
	:root {
		--left-pane: 250px;
	}

	.date-picker-controls {
		display: block;
	}

	.all-graphics {
		grid-template-columns: max-content max-content;
		grid-template-rows: 1fr;
		justify-content: center;	
	}
}