:root {
  --gafc-space: var(--space-1x);
}

body {
  background: linear-gradient(
    to left,
    var(--cool-gray-800),
    var(--cool-gray-500)
  );
  /* background-color: black; */
  /* background: linear-gradient(170deg, #e0eafc, #cfdef3); */
}
#gud {
  background-color: white;
  outline: 3px solid var(--cool-gray-100);
  transition: transform 300ms, opacity 300ms;
}

#gud.sunken {
  transform: scale(0.95);
  opacity: 0.5;
}

main {
  min-width: 1200px;
  padding-left: var(--space-6x);
  padding-right: var(--space-6x);
  border-top-left-radius: var(--space-2x);
  background-color: white;
}

nav {
  /* background: linear-gradient(170deg, #eecda3, #ef629f); */
  max-height: 100vh;
  min-height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: max-content max-content auto;
  /* padding-left: var(--space-1h);
  padding-right: var(--space-1h); */
  align-content: stretch;
  align-items: start;
  /* background-color: white; */
  /* border-right: 1px solid var(--cool-gray-200); */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

nav h1 {
  padding: 0px;
  margin: 0px;
  /* color: var(--cool-gray-700); */
  /* color: var(--digital-blue-800); */
  color: var(--pantone-red-350);
  font-weight: 900;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--space-1x);
  justify-content: start;
  align-items: center;
  font-size: var(--text-08);
  line-height: 1;
  padding-bottom: var(--space-4x);
}

nav .gp-button {
  font-weight: normal;
  transition: background-color 200ms, color 200ms;
  color: var(--cool-gray-900);
}

nav .gp-chip {
  font-size: var(--text-02);
  background-color: white;
  color: var(--cool-gray-650);
}

nav .gp-chip:hover {
  background-color: var(--cool-gray-100);
  color: var(--cool-gray-700);
}

nav > div:last-child {
  align-self: end;
  padding-bottom: var(--space-2x);
  --icon-color: var(--digital-blue-250);
}

nav > div:last-child .gp-button svg {
  transition: fill 200ms;
}

nav > div:last-child .gp-button:hover {
  --icon-color: var(--digital-blue-800);
}

.gafc {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: var(--gafc-space);
}

.transition-message {
  height: max-content;
  overflow: hidden;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  justify-content: center;
  padding-top: var(--space-32x);
  align-items: center;
  align-content: start;
}
