:root {
  --gafc-space: var(--space-1x);
  --gud-fabric: linear-gradient(160deg, #c04848, #480048);
}

body {
  background: linear-gradient(
    to left,
    var(--cool-gray-800),
    var(--cool-gray-500)
  );
}
#gud {
  background-color: white;
  transition: transform 300ms, opacity 300ms, border-radius 300ms;
}

#gud.sunken {
  transform: scale(0.95);
  opacity: 0.5;
  border-radius: var(--space-2x);
}

main {
  background-color: white;
  padding-left: var(--space-6x);
  padding-right: var(--space-6x);
}

nav {
  /* background-color: white; */
  background: hsl(217, 50%, 99%);
  max-height: 100vh;
  min-height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: max-content max-content auto;
  align-content: stretch;
  align-items: start;
  border-right: 1px solid var(--cool-gray-100);
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05); */
}

nav h1 {
  /* border-radius: var(--space-1x); */
  /* background-color: var(--blue-slate-600); */
  padding: 0px;
  margin: 0px;
  /* color: var(--pantone-red-450); */
  color: var(--cool-gray-600);
  /* color: white; */
  /* font-weight: 900; */
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: var(--space-1x);
  justify-content: stretch;
  align-items: center;
  line-height: 1;
  padding: var(--space-1x) var(--space-1x);
}

nav h1 .title-container {
  width: 100%;
}

nav h1 .title {
  font-size: var(--text-04);
  padding-bottom: var(--space-1q);
}

nav h1 .view {
  font-size: var(--text-02);
  font-weight: normal;
}

nav .gp-button {
  font-weight: normal;
  transition: background-color 200ms, color 200ms;
  color: var(--cool-gray-700);
  /* font-size: var(--text-02); */
  padding-left: var(--space-1x);
  padding-right: var(--space-1x);
}

nav .gp-chip {
  font-size: var(--text-015);
  background-color: var(--digital-blue-100);
  color: var(--cool-gray-700);
  /* FIXME: this should be fixed in graph-paper */
  margin: 0px;
  padding: calc(var(--space-1h) * 1.3);
  padding-left: calc(var(--space-base) * 1);
  padding-right: calc(var(--space-base) * 1);
}

nav .gp-chip--slot {
  font-size: var(--text-015);
}

nav .sidebar__filters .gp-button {
  color: var(--cool-gray-600);
  font-weight: 500;
}

nav .gp-chip:hover {
  background-color: var(--cool-gray-100);
  color: var(--cool-gray-700);
}

nav > div:last-child {
  align-self: end;
  padding-bottom: var(--space-2x);
  --icon-color: var(--digital-blue-250);
}

nav > div:last-child .gp-button svg {
  transition: fill 200ms;
}

nav > div:last-child .gp-button:hover {
  --icon-color: var(--digital-blue-800);
}

.gafc {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: var(--gafc-space);
}

.justify-content-start {
  justify-content: start;
}

.transition-message {
  height: max-content;
  overflow: hidden;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  justify-content: center;
  padding-top: var(--space-32x);
  align-items: center;
  align-content: start;
}
