:root {
  --gafc-space: var(--space-1x);
}

nav {
  max-height: 100vh;
  min-height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: max-content max-content auto;
  padding-left: var(--space-1h);
  padding-right: var(--space-1h);
  align-content: stretch;
  align-items: start;
  /* border-right: 1px solid var(--cool-gray-200); */
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
}

nav .gp-button {
  font-weight: normal;
  transition: background-color 200ms, color 200ms;
}

nav > div:last-child {
  align-self: end;
  padding-bottom: var(--space-2x);
  --icon-color: var(--digital-blue-250);
}

nav > div:last-child .gp-button svg {
  transition: fill 200ms;
}

nav > div:last-child .gp-button:hover {
  --icon-color: var(--digital-blue-800);
}

.gafc {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: var(--gafc-space);
}

.transition-message {
  height: max-content;
  overflow: hidden;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  justify-content: center;
  padding-top: var(--space-32x);
  align-items: center;
  align-content: start;
}
