:root {

    --neutral-gray-100: hsl(0, 0%, 95%);
    --neutral-gray-100: hsl(0, 0%, 90%);
    --neutral-gray-200: hsl(0, 0%, 85%);
    --neutral-gray-250: hsl(0, 0%, 80%);
    --neutral-gray-300: hsl(0, 0%, 75%);
    --neutral-gray-350: hsl(0, 0%, 59%);
    --neutral-gray-400: hsl(0, 0%, 52%);
    --neutral-gray-450: hsl(0, 0%, 48%);
    --neutral-gray-500: hsl(0, 0%, 43%);
    --neutral-gray-550: hsl(0, 0%, 39%);
    --neutral-gray-600: hsl(0, 0%, 35%);
    --neutral-gray-650: hsl(0, 0%, 31%);
    --neutral-gray-700: hsl(0, 0%, 27%);
    --neutral-gray-770: hsl(0, 0%, 21%);
    --neutral-gray-800: hsl(0, 0%, 15%);
    --neutral-gray-800: hsl(0, 0%, 12%);
    --neutral-gray-900: hsl(0, 0%, 10%);

    --ux-gray-100: var(--neutral-gray-100);
    --ux-gray-150: var(--neutral-gray-150);
    --ux-gray-200: var(--neutral-gray-200);
    --ux-gray-250: var(--neutral-gray-250);
    --ux-gray-300: var(--neutral-gray-300);
    --ux-gray-350: var(--neutral-gray-350);
    --ux-gray-400: var(--neutral-gray-400);
    --ux-gray-450: var(--neutral-gray-450);
    --ux-gray-500: var(--neutral-gray-500);
    --ux-gray-550: var(--neutral-gray-550);
    --ux-gray-600: var(--neutral-gray-600);
    --ux-gray-650: var(--neutral-gray-650);
    --ux-gray-700: var(--neutral-gray-700);
    --ux-gray-750: var(--neutral-gray-750);
    --ux-gray-800: var(--neutral-gray-800);
    --ux-gray-850: var(--neutral-gray-850);
    --ux-gray-900: var(--neutral-gray-900);

    --sidebar-width: var(--space-40x);
    --body-header-height: var(--space-8x);
    --body-header-pad: var(--space-2x);

    	/* graph settings */
	--small-graph-width: 350px;
	--large-graph-width: 900px;

	--moderate-transition: 200ms;

	--secondary-color: #0097B2;
  --faint-text: lightgray;
  

  	/* shared style elements */
	--ui-pad: calc(var(--pad) / 2);
	--ui-radius: 5px;
	--default-button-text-color: white;
	--default-button-bg-color: rgb(90, 90, 170);

  /* multiselector	 */
	--multiselector-horiz-pad: 8px;
	--multiselector-list-item-pad: calc(var(--pad) / 2);
    --multiselector-list-item-size: 25px;
	--multiselector-border-color: transparent;
	--multiselector-bg: var(--default-button-bg-color);
	/* --multiselector-bg: #00b3f4; */
    --multiselector-button-text-color: white;
	--multiselector-selected-bg: tomato;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}

body {
    background-color: white;
}

/* grid auto flow centered */

.gafc {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}

.col-gap-1x { grid-column-gap: var(--space-base); }
.col-gap-2x { grid-column-gap: var(--space-2x); }


.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background-color: rgb(243,238,238);
}

.body-container {
    width: calc(100vw - var(--sidebar-width));
    min-height: 100vh;
}

.body-header {
    padding: var(--body-header-pad);
    padding-left: var(--space-6x);
    padding-right: var(--space-6x);
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    grid-row: 1 / 3;
}

.body-header h2 {
    font-weight:normal;
    font-size: var(--text-08);
}

.body-controls {
    min-height: var(--space-8x);
    padding-left: var(--space-6x);
    padding-right: var(--space-6x);
}

/* DataGraphic */

svg text {
    -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

svg text::selection {
    background: none;
}

@keyframes rotate-loader {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash-loader {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

/* Graphic Body */

.graphic-body {
	max-width: 1100px;
	padding: var(--pad);
}

.graphic-body-header {
	font-style: italic;
	font-weight:normal;
	color: #555;
	margin:0;
	padding:0;
	padding-left:50px;
	padding-bottom:25px;
}


.all-graphics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: var(--subsection-margin);
}

.one-graphic {
    display: block;
}


.app-button {
  padding: var(--space-2x);
  font-size: var(--text-015);
}

.app-button button {
	background: none;
	padding: calc(var(--space-2x) / 3);
	/* background-color: var(--secondary-color); */
	/* color: white; */
	border: none;
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	/* border-top:    1px solid var(--secondary-color); */
	border-radius: 3px;
	cursor: pointer;
	transition: var(--moderate-transition);
	text-transform: uppercase;
	opacity: .6;
}

.app-button button span {
	padding-left: calc(var(--space-2x) / 3);
	font-weight:900;
}

.app-button button:hover {
	background-color: rgb(240,240,240);
	opacity: 1;
	box-shadow: 2px 2px 0px rgba(0,0,0,.2);
}



/* media queries */

@media (max-width: 1450px) {
	:root {
		--graph-width: 300px;
	}
}

@media (max-width: 1301px) {
	:root {
		--left-pane: 250px;
	}

	.date-picker-controls {
		display: block;
	}

	.all-graphics {
		grid-template-columns: max-content max-content;
		grid-template-rows: 1fr;
		justify-content: center;	
	}
}